@mixin mp-zero {
  margin: 0;
  padding: 0;
}

@mixin size ($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font($font-size, $line-height: $font-size, $font-weight: 400) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
