@charset "UTF-8";
.page-body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px 30px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1250px;
}
@media (min-width: 700px) {
  .container {
    max-width: 610px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 1020px) {
  .container {
    max-width: 930px;
  }
}
@media (min-width: 1340px) {
  .container {
    max-width: 1250px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  position: relative;
  padding-bottom: 58px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #1e1e1e;
  background-color: #f5f0f0;
  overflow: hidden;
}
@media (min-width: 700px) {
  .wrapper {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media (min-width: 1340px) {
  .wrapper {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 51px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1020px) {
  .logo__img {
    width: 150px;
  }
}
@media (min-width: 1340px) {
  .logo__img {
    width: 170px;
    height: 70px;
  }
}

@media (min-width: 700px) {
  .login-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.login-button__img {
  fill: #1e1e1e;
}
.login-button__img:hover path {
  fill: #4764b0;
}
@media (min-width: 1020px) {
  .login-button__img {
    width: 28px;
    height: 28px;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #4764b0;
}
@media (min-width: 700px) {
  .title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
  }
}
@media (min-width: 1340px) {
  .title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }
}

.header {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  padding-top: 13px;
  padding-bottom: 20px;
  background-color: #fff;
}
@media (min-width: 700px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}
@media (min-width: 1340px) {
  .header {
    padding: 25px 56px 25px 50px;
  }
}

.header__login {
  display: none;
}
@media (min-width: 700px) {
  .header__login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about {
  position: relative;
  margin-bottom: 34px;
}
@media (min-width: 700px) {
  .about {
    margin-bottom: 65px;
  }
}
@media (min-width: 1020px) {
  .about {
    margin-bottom: 130px;
  }
}
@media (min-width: 1340px) {
  .about {
    margin-bottom: 163px;
  }
}

.about__bg-image {
  width: 93.5%;
  height: 174px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-image: url("../img/about-bg.jpg");
  background-position: 0 0;
  background-size: cover;
}
@media (min-width: 700px) {
  .about__bg-image {
    width: 90%;
    height: 410px;
    background-position: right;
  }
}
@media (min-width: 1020px) {
  .about__bg-image {
    width: 80%;
    height: 440px;
  }
}
@media (min-width: 1340px) {
  .about__bg-image {
    width: 73.6%;
    height: 570px;
  }
}

.about__description-wrapper {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-right: 20px;
  margin-top: 134px;
  padding: 34px 18px 40px 21px;
  background-color: #fff;
}
@media (min-width: 700px) {
  .about__description-wrapper {
    margin-right: 150px;
    padding-left: 30px;
  }
}
@media (min-width: 1020px) {
  .about__description-wrapper {
    margin-right: 430px;
    margin-top: 43px;
    padding: 40px 40px 30px 50px;
  }
}
@media (min-width: 1340px) {
  .about__description-wrapper {
    margin-right: 700px;
    margin-top: 65px;
    padding: 48px 40px 52px 60px;
  }
}

.about__title {
  margin-bottom: 13px;
}
@media (min-width: 1340px) {
  .about__title {
    margin-bottom: 18px;
  }
}

.about__description-item {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
@media (min-width: 1340px) {
  .about__description-item {
    margin-bottom: 10px;
  }
}

.about__description-item:last-child {
  margin-bottom: 0;
}

.about__bg-shape {
  width: 100%;
  height: 165%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 10px;
  border-left: 1px solid #d2c8c8;
}
@media (min-width: 1020px) {
  .about__bg-shape {
    left: 150px;
  }
}
@media (min-width: 1340px) {
  .about__bg-shape {
    left: 299px;
  }
}

.projects {
  position: relative;
  z-index: 10;
  margin-bottom: 76px;
}
@media (min-width: 700px) {
  .projects {
    margin-bottom: 65px;
  }
}
@media (min-width: 1020px) {
  .projects {
    padding-left: 156px;
    margin-bottom: 115px;
  }
}
@media (min-width: 1340px) {
  .projects {
    padding-left: 300px;
    margin-bottom: 90px;
  }
}
@media (min-width: 1020px) {
  .projects::after {
    width: 41px;
    height: 41px;
    content: "";
    position: absolute;
    bottom: 170px;
    right: 50px;
    background-image: url("../img/arrows-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 1340px) {
  .projects::after {
    bottom: 197px;
  }
}

.projects__description-wrapper-top {
  padding-left: 30px;
  padding-right: 20px;
  margin-bottom: 161px;
}
@media (min-width: 700px) {
  .projects__description-wrapper-top {
    margin-bottom: 140px;
  }
}
@media (min-width: 1020px) {
  .projects__description-wrapper-top {
    margin-bottom: 80px;
  }
}
@media (min-width: 1340px) {
  .projects__description-wrapper-top {
    margin-bottom: 92px;
    padding-right: 180px;
  }
}

.projects__title {
  margin-bottom: 12px;
  width: 91%;
}
@media (min-width: 1340px) {
  .projects__title {
    margin-bottom: 15px;
  }
}

.projects__description {
  margin: 0;
  padding: 0;
}

.projects__slider {
  width: 93.5%;
  height: 168px;
  position: absolute;
  z-index: 1;
  top: 20.4%;
  left: 0;
}
@media (min-width: 700px) {
  .projects__slider {
    width: 90%;
    height: 350px;
    top: 120px;
  }
}
@media (min-width: 1020px) {
  .projects__slider {
    width: 80%;
    height: 400px;
  }
}
@media (min-width: 1340px) {
  .projects__slider {
    width: 73.6%;
    height: 554px;
    top: 157px;
  }
}

@media (min-width: 700px) {
  .projects__slider .slick-dots {
    left: -155px;
    bottom: 41px;
  }
}

.projects__slider .slick-dots li button:before {
  color: #fff;
}

.projects__description-wrapper-middle {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 26px;
  padding: 23px 20px 22px 21px;
  background-color: #fff;
}
@media (min-width: 700px) {
  .projects__description-wrapper-middle {
    margin-left: 240px;
  }
}
@media (min-width: 1020px) {
  .projects__description-wrapper-middle {
    margin-left: 330px;
    margin-bottom: 150px;
    padding: 40px 20px 30px 40px;
  }
}
@media (min-width: 1340px) {
  .projects__description-wrapper-middle {
    margin-left: 480px;
    margin-bottom: 180px;
    padding: 60px 52px 80px 52px;
  }
}

.projects__description-header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 400;
}

.projects__description-wrapper-bottom {
  padding-left: 30px;
  padding-right: 20px;
}
@media (min-width: 1340px) {
  .projects__description-wrapper-bottom {
    padding-right: 180px;
  }
}

.projects__bg-shape {
  width: 100%;
  height: 64%;
  position: absolute;
  z-index: 0;
  bottom: -41px;
  left: 10px;
  border: 1px solid #d2c8c8;
  border-top: none;
  border-right: none;
}
@media (min-width: 1020px) {
  .projects__bg-shape {
    left: 150px;
  }
}
@media (min-width: 1340px) {
  .projects__bg-shape {
    bottom: -47px;
    left: 299px;
  }
}

.features {
  position: relative;
  z-index: 10;
  padding-bottom: 144px;
  margin-bottom: 67px;
}
@media (min-width: 700px) {
  .features {
    padding-bottom: 0;
    margin-bottom: 65px;
  }
}
@media (min-width: 1020px) {
  .features {
    margin-bottom: 115px;
  }
}
@media (min-width: 1340px) {
  .features {
    margin-bottom: 133px;
  }
}

.features__title {
  padding-left: 20px;
  margin-bottom: 14px;
  width: 91%;
}
@media (min-width: 700px) {
  .features__title {
    padding-left: 30px;
  }
}
@media (min-width: 1020px) {
  .features__title {
    padding-left: 50px;
  }
}
@media (min-width: 1340px) {
  .features__title {
    padding-left: 60px;
    margin-bottom: 17px;
  }
}

.features__wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 60px;
  margin-bottom: 45px;
}
@media (min-width: 700px) {
  .features__wrapper-top {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 140px;
  }
}
@media (min-width: 1020px) {
  .features__wrapper-top {
    padding-left: 50px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1340px) {
  .features__wrapper-top {
    padding-left: 60px;
    padding-right: 64px;
    margin-bottom: 58px;
  }
}

.features__description {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  width: 60%;
}
@media (min-width: 700px) {
  .features__description {
    margin-right: 0;
    width: 50%;
  }
}
@media (min-width: 1020px) {
  .features__description {
    width: 40%;
  }
}
@media (min-width: 1340px) {
  .features__description {
    width: 500px;
  }
}

.features__description-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
}
@media (min-width: 1020px) {
  .features__description-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 46%;
  }
}
@media (min-width: 1340px) {
  .features__description-list {
    width: 542px;
  }
}

.features__dl-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .features__dl-wrapper {
    margin-bottom: 30px;
  }
}
@media (min-width: 1020px) {
  .features__dl-wrapper {
    width: 40%;
  }
}
@media (min-width: 1340px) {
  .features__dl-wrapper {
    width: auto;
  }
}

.features__dl-wrapper:last-child {
  margin-bottom: 0;
}

.features__description-term {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.features__description-details {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
}
@media (min-width: 1340px) {
  .features__description-details {
    margin-bottom: 6px;
    line-height: 24px;
  }
}

.features__description-detail {
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  display: block;
  margin-bottom: 3px;
}
@media (min-width: 700px) {
  .features__description-detail {
    margin-bottom: 0;
    margin-right: 5px;
  }
}
@media (min-width: 1340px) {
  .features__description-detail {
    font-size: 48px;
    line-height: 42px;
  }
}

.features__dd-text {
  margin: 0;
  padding: 0;
}
@media (min-width: 700px) {
  .features__dd-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.features__features-list {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
  margin-right: 20px;
  padding: 25px 20px 27px 39px;
  background-color: #fff;
  list-style-type: none;
}
@media (min-width: 700px) {
  .features__features-list {
    margin-right: 240px;
    padding-left: 50px;
  }
}
@media (min-width: 1020px) {
  .features__features-list {
    padding: 40px 40px 30px 70px;
    margin-right: 480px;
  }
}
@media (min-width: 1340px) {
  .features__features-list {
    padding: 62px 40px 62px 86px;
    margin-right: 780px;
  }
}

.features__features-list::before {
  width: 20px;
  height: 19px;
  content: "";
  position: absolute;
  z-index: 0;
  top: -20px;
  left: -11px;
  border: 1px solid #d2c8c8;
  border-bottom: none;
}
@media (min-width: 1020px) {
  .features__features-list::before {
    width: 169px;
    height: 23px;
    top: -24px;
  }
}
@media (min-width: 1340px) {
  .features__features-list::before {
    width: 309px;
    height: 34px;
    top: -35px;
  }
}

.features__feature-item {
  position: relative;
  margin-bottom: 8px;
}
@media (min-width: 1340px) {
  .features__feature-item {
    margin-bottom: 10px;
  }
}
.features__feature-item::before {
  width: 12px;
  height: 1px;
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  background-color: #4764b0;
}
@media (min-width: 1340px) {
  .features__feature-item::before {
    width: 16px;
    height: 2px;
    top: 12px;
    left: -26px;
  }
}

.features__feature-item:last-child {
  margin-bottom: 0;
}

.features__bg-image {
  width: 93.5%;
  height: 174px;
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  background-image: url("../img/features-bg.jpg");
  background-position: 0 0;
  background-size: cover;
}
@media (min-width: 700px) {
  .features__bg-image {
    width: 90%;
    height: 350px;
    bottom: 120px;
  }
}
@media (min-width: 1020px) {
  .features__bg-image {
    width: 80%;
    height: 400px;
    bottom: auto;
    top: 163px;
  }
}
@media (min-width: 1340px) {
  .features__bg-image {
    width: 73.6%;
    height: 570px;
    top: 204px;
  }
}

.features__bg-shape-bottom {
  width: 100%;
  height: 329px;
  position: absolute;
  z-index: 0;
  bottom: -21px;
  left: 10px;
  border: 1px solid #d2c8c8;
  border-top: none;
}
@media (min-width: 700px) {
  .features__bg-shape-bottom {
    bottom: 80px;
    height: 189px;
  }
}
@media (min-width: 1020px) {
  .features__bg-shape-bottom {
    left: 158px;
    bottom: -60px;
  }
}
@media (min-width: 1340px) {
  .features__bg-shape-bottom {
    left: 299px;
    bottom: -89px;
  }
}

.staff {
  position: relative;
  z-index: 10;
  padding-left: 20px;
  margin-bottom: 54px;
}
@media (min-width: 700px) {
  .staff {
    margin-bottom: 65px;
    padding-left: 30px;
  }
}
@media (min-width: 1020px) {
  .staff {
    margin-bottom: 85px;
    padding-left: 50px;
  }
}
@media (min-width: 1340px) {
  .staff {
    padding-left: 60px;
    margin-bottom: 97px;
  }
}
@media (min-width: 1020px) {
  .staff::after {
    width: 41px;
    height: 41px;
    content: "";
    position: absolute;
    z-index: 10;
    top: 68px;
    right: 50px;
    background-image: url("../img/arrows-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 1340px) {
  .staff::after {
    top: 127px;
  }
}

.staff__title {
  margin-bottom: 27px;
  width: 91%;
}
@media (min-width: 1340px) {
  .staff__title {
    margin-bottom: 52px;
  }
}

.staff__slider {
  position: relative;
  z-index: 1;
  padding: 33px 20px 50px 21px;
  background-color: #fff;
}
@media (min-width: 1020px) {
  .staff__slider {
    padding-bottom: 40px;
  }
}
@media (min-width: 1340px) {
  .staff__slider {
    padding: 43px 20px 65px 50px;
  }
}

.staff__slider.slick-slider .slick-dots {
  bottom: 10px;
  left: -2px;
}

.staff__slider .slick-dots li.slick-active button:before,
.staff__slider .slick-dots li button:before {
  color: #4764b0;
}

.staff__description-header {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: relative;
  margin-bottom: 35px;
}
@media (min-width: 1340px) {
  .staff__description-header {
    margin-bottom: 53px;
    font-size: 18px;
    line-height: 26px;
  }
}
.staff__description-header::after {
  width: 1080px;
  height: 32px;
  content: "";
  position: absolute;
  bottom: -20px;
  left: -7px;
  background-image: url("../img/divider.svg");
  background-repeat: no-repeat;
}
@media (min-width: 1340px) {
  .staff__description-header::after {
    bottom: -24px;
    width: 1087px;
    height: 43px;
  }
}

.staff__description {
  margin: 0;
  padding: 0;
}

.benefits {
  position: relative;
  z-index: 10;
  margin-top: 5px;
}
@media (min-width: 1020px) {
  .benefits::after {
    width: 41px;
    height: 41px;
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 49px;
    left: 50px;
    background-image: url("../img/arrows-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.benefits__title {
  margin-bottom: 189px;
  padding-left: 30px;
  width: 220px;
  width: 85%;
}
@media (min-width: 1020px) {
  .benefits__title {
    margin-bottom: 50px;
    padding-left: 186px;
  }
}
@media (min-width: 1340px) {
  .benefits__title {
    padding-left: 330px;
  }
}

.benefits__slider {
  width: 93.5%;
  height: 202px;
  position: absolute;
  z-index: 1;
  top: 11.5%;
  left: 0;
}
@media (min-width: 700px) {
  .benefits__slider {
    width: 90%;
    height: 350px;
    top: 110px;
  }
}
@media (min-width: 1020px) {
  .benefits__slider {
    width: 80%;
    height: 400px;
  }
}
@media (min-width: 1340px) {
  .benefits__slider {
    width: 64%;
    height: 579px;
    top: 140px;
  }
}

.benefits__slider.slick-slider .slick-dots {
  bottom: 45px;
  left: -2px;
  /* Дополнительный media для слайдера в benefits,
  чтобы пагинация не скрывалась за плашкой с текстом */
}
@media (min-width: 335px) {
  .benefits__slider.slick-slider .slick-dots {
    bottom: 65px;
  }
}
@media (min-width: 700px) {
  .benefits__slider.slick-slider .slick-dots {
    left: -155px;
    bottom: 23px;
  }
}

.benefits__list {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  padding: 29px 18px 30px 40px;
  list-style: none;
  background-color: #fff;
}
@media (min-width: 700px) {
  .benefits__list {
    margin-left: 240px;
  }
}
@media (min-width: 1020px) {
  .benefits__list {
    padding: 40px 20px 30px 50px;
    margin-left: 480px;
  }
}
@media (min-width: 1340px) {
  .benefits__list {
    margin-left: 780px;
    padding: 48px 50px 58px 74px;
  }
}

.benefits__benefit-item {
  position: relative;
  margin-bottom: 8px;
}
@media (min-width: 1340px) {
  .benefits__benefit-item {
    margin-bottom: 10px;
  }
}
.benefits__benefit-item::before {
  width: 12px;
  height: 1px;
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  background-color: #4764b0;
}
@media (min-width: 1340px) {
  .benefits__benefit-item::before {
    width: 16px;
    height: 2px;
    top: 12px;
    left: -24px;
  }
}

.benefits__benefit-item:last-child {
  margin-bottom: 0;
}

.benefits__bg-shape {
  width: 20px;
  height: 1070px;
  position: absolute;
  z-index: 0;
  top: -21px;
  left: -11px;
  border: 1px solid #d2c8c8;
}
@media (min-width: 1020px) {
  .benefits__bg-shape {
    width: 150px;
  }
}
@media (min-width: 1340px) {
  .benefits__bg-shape {
    top: -40px;
    width: 309px;
  }
}

.slick-slider .slick-dots {
  bottom: 34px;
}
@media (min-width: 1020px) {
  .slick-slider .slick-dots {
    visibility: hidden;
  }
}

.slick-dots li {
  margin: 0;
  width: 16px;
}

.slick-dots li button:before {
  font-size: 7px;
  color: #fff;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  top: -1px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
}

.slick-list {
  height: 100%;
}

.slider__slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}